@use '../base' as *;

.banner {
  &__wrapper{
    text-align: center;
    margin-bottom: 2rem;
  }
  &__text{
    font-size: 2rem;
    font-weight: $font-bold;
    color: $color-primary;
    margin-bottom: 1.5rem;
  }
  &__container {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
  }

  &__half {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }

    .banner__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-blanco;
      font-family: $font-title;
      font-size: 2rem;
    }
  }

  &__half--arabe {
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
  }

  &__half--designer {
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 768px) {
  .banner {
    &__container {
      flex-direction: column;
      height: auto;
      gap: 0.5rem;
    }

    &__half {
      width: 100%;
      height: 250px; // m치s peque침o en tablets

      .banner__overlay {
        font-size: 1.5rem;
      }
    }

    &__text {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 480px) {
  .banner {
    &__half {
      height: 200px;

      .banner__overlay {
        font-size: 1.2rem; // tama침o ajustado para m칩viles
        text-align: center;
        padding: 0 1rem;
      }
    }

    &__text {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 360px) {
  .banner {
    &__half {
      height: 180px;

      .banner__overlay {
        font-size: 1rem; // 游댳 ajuste principal para 360px
        line-height: 1.2;
      }
    }

    &__text {
      font-size: 1.1rem;
    }
  }
}
