.carousel {
    width: 100%;
    aspect-ratio: 12 / 5;
    // height: 500%;
  
    .swiper {
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 40% center;
      }
    }
  }