.nicho {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  overflow: hidden;
  // border-radius: 12px;


/* IMAGEN */
  &__bg {
    position: absolute;
    inset: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.5s ease;
    }
  }
  &:hover img{
    transform: scale(1.08) rotate(-1deg);
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
  
    display: grid;
    align-items: center;
  }

  &__content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  
    padding: 0 2rem;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-size: 3rem;
    margin: 0;
    color: white;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: white;
    max-width: 500px;
  }
}

/* OVERLAY */
// .nicho__overlay {
//   position: absolute;
//   inset: 0;
//   background: rgba(0,0,0,0.35);

//   display: grid;
//   align-items: center;
// }

/* CONTENIDO REAL */
// .nicho__content {
//   width: 100%;
//   max-width: 1200px;
//   margin: 0 auto;

//   padding: 0 2rem;

//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }

/* TEXTO */
// .nicho__title {
//   font-size: 3rem;
//   margin: 0;
//   color: white;
// }

// .nicho__subtitle {
//   font-size: 1.5rem;
//   margin-top: 1rem;
//   color: white;
//   max-width: 500px;
// }

@media (max-width: 1024px) {
  .nicho {
    height: 400px;
  }

  .nicho__title {
    font-size: 2.2rem;
  }

  .nicho__subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .nicho {
    height: 300px;
  }

  .nicho__content {
    padding: 0 1.5rem;
  }

  .nicho__title {
    font-size: 1.8rem;
  }

  .nicho__subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .nicho {
    height: 250px;
  }

  .nicho__content {
    padding: 0 1rem;
  }

  .nicho__title {
    font-size: 1.5rem;
  }

  .nicho__subtitle {
    font-size: 0.9rem;
  }
}

