@use '../base' as *;
// @use '../base/variables' as *;

.decants {
    &__section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem auto;
        width: 100%;
        padding: 2rem 1rem; 
        border-radius: 12px;
        background: linear-gradient(to bottom, #f6f3ef, lighten($color-secondary, 10%));
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    }

    &__title {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
      color: $color-primary;
      // font-family: $font-title;
    }    

    &__container{
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      justify-content: center;
    }

    &__card {
        position: relative;
        flex: 1 1 45%;
        width: 48%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: 12px;
        cursor: pointer;
        transition: transform 0.3s ease;
    
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          display: block;
          transition: transform 0.3s ease;
        }

        &:hover img {
          transform: scale(1.05);
        }
    }

    &__card:nth-child(2) img {
      object-position: center 35%;
    }


    &__content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      padding: 1rem;

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: $font-title;
      }

      .btn {
        background-color: $color-accent;
        color: white;
        padding: 0.75rem 1.5rem;
        border-radius: 6px;
        text-decoration: none;
        transition: background 0.3s;

        &:hover {
          background-color: darken($color-accent, 10%);
        }
      }
    }


  }
