@use '../base' as *;

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: $color-bg;

    &__item{
        text-align: center;
        color: $color-primary;
    }

    &__icon{
        font-size: 3rem;
        margin-bottom: 0.5rem;
        transition: transform 0.3s;
        cursor: pointer;

        &:hover{
            transform: scale(1.1);
            color: $color-accent;
        }
    }

    &__text{
        margin: 0;
        font-size: 1.2rem;
        font-weight: $font-600;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1.5rem;
    }
}